.main-container {
    display: flex;
    background-color: whitesmoke;
    /*height: 65vh;*/
		margin-bottom:1rem;
}
.main-left-panel {
    flex: 0.15
}
.main-middle-panel {
    flex: 0.7;
    margin-top: 20px;
}
.main-right-panel {
    flex: 0.15
}
.main-text > p{
    font-family: Tahoma, sans-serif;
    font-size: x-large;
    color: #000034;
    font-weight: bold;
    margin-top: 30px;
    
}
.main-text {
    border-left: 5px solid #95badd;
    padding-left: 10px;

}
